[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
plotly = "*"
loguru = "*"
kaleido = "==0.2.1"
graphviz = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
commitizen = "*"

[requires]
python_version = "3.8"
